
.camp-screen > .l-main-dialog-container
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 102.4rem;
	height: 76.8rem;
	position: absolute;
	margin: auto;
	z-index: 2;
}

.camp-screen > .l-main-dialog-container .settlement-container
{
	top: -0.8rem; /* -1.4rem */
	padding-left: 0.1rem;
	width: 102.3rem;
	height: 58.8rem;
	position: absolute;
	overflow: hidden;
}


.camp-screen > .l-main-dialog-container .l-tab-container
{
	top: -1.0rem;
	left: 0;
	right: 0;
	bottom: 0;
	width: 88.0rem;
	height: 3.0rem;
	position: absolute;
	margin: auto;
}

.camp-screen > .l-main-dialog-container .l-tab-asset
{
	top: 0;
	bottom: 0;
	width: 13.0rem;
	height: 4.3rem;
	position: absolute;
}

.camp-screen > .l-main-dialog-container .l-tab-asset.is-money
{
	left: 0;
}

.camp-screen > .l-main-dialog-container .l-tab-asset.is-food
{
	left: 15.0rem;
}

.camp-screen > .l-main-dialog-container .l-tab-asset.is-supplies
{
	left: 30.0rem;
}

.camp-screen > .l-main-dialog-container .l-tab-asset.is-ammo
{
	left: 45.0rem;
}

.camp-screen > .l-main-dialog-container .l-tab-asset.is-medicine
{
	left: 60.0rem;
}

.camp-screen > .l-main-dialog-container .l-tab-asset.is-brothers
{
	left: 75.0rem;
	width: 9.8rem;
}

.camp-screen > .l-main-dialog-container .l-tab-asset img
{
	top: 0;
	bottom: 0;
	left: 0;
	width: 2.8rem;
	height: 2.8rem;
	margin: auto;
	margin-left: 1.0rem;
	position: absolute;
}

.camp-screen > .l-main-dialog-container .l-tab-asset .label
{
	top: 0;
	bottom: 0;
	left: 3.4rem;
	width: 11.2rem;
	height: 3.0rem;
	margin: auto;
	margin-left: 1.0rem;
	position: absolute;

	text-align : left;
	line-height: 3.0rem;
}

.camp-screen > .l-main-dialog-container .background
{
	position: absolute;
	pointer-events: none;
	width: 102.4rem;
	height: 58.8rem;
}

.camp-screen > .l-main-dialog-container .ramp
{
	position: absolute;
	pointer-events: none;
	width: 102.4rem;
	height: 58.8rem;
}

.camp-screen > .l-main-dialog-container .ramp-pathway
{
	position: absolute;
	pointer-events: none;
	width: 102.4rem;
	height: 58.8rem;
}

.camp-screen > .l-main-dialog-container .background-left
{
	position: absolute;
	pointer-events: none;
	width: 102.4rem;
	height: 58.8rem;
}

.camp-screen > .l-main-dialog-container .background-right
{
	position: absolute;
	pointer-events: none;
	width: 102.4rem;
	height: 58.8rem;
}

/* center top (townhall) */
.camp-screen > .l-main-dialog-container .background-center
{
	position: absolute;
	pointer-events: none;
	width: 102.4rem;
	height: 58.8rem;
}

.camp-screen > .l-main-dialog-container .water
{
	position: absolute;
	pointer-events: none;
	width: 102.4rem;
	height: 58.8rem;
}

/* buildings */

/* Bottow row of tents */
.camp-screen > .l-main-dialog-container .slot-craft {
	-webkit-transform: scale(-0.7, 0.7);
	position: absolute;
	left: 7.0rem;
	top: 42.0rem;
}

.camp-screen > .l-main-dialog-container .slot-train {
	-webkit-transform: scale(0.7, 0.7);
	position: absolute;
	left: 20.0rem;
	top: 46.0rem;
}

.camp-screen > .l-main-dialog-container .slot-rest {
	-webkit-transform: scale(0.7, 0.7);
	position: absolute;
	left: 44.0rem;
	top: 47.0rem;
}


.camp-screen > .l-main-dialog-container .slot-barber {
	-webkit-transform: scale(0.7, 0.7);
	position: absolute;
	left: 60.0rem;
	top: 43.0rem;
}




	/* Mid row of tents */

.camp-screen > .l-main-dialog-container .slot-scrap {
	-webkit-transform: scale(1.0, 1.0);
	position: absolute;
	left: 10.0rem;
	top: 34.0rem;
}

.camp-screen > .l-main-dialog-container .slot-heal {
		-webkit-transform: scale(0.7, 0.7);
		position: absolute;
		left: 19.0rem;
		top: 29.0rem;
	}

/* center (marketplace) */
.camp-screen > .l-main-dialog-container .slot-commander {
	-webkit-transform: scale(0.7, 0.7);
	position: absolute;
	left: 33.0rem;
	top: 28.0rem;
}


.camp-screen > .l-main-dialog-container .slot-repair
{
	-webkit-transform: scale(0.7, 0.7);
	position: absolute;
	left: 62.0rem;
	top: 28.0rem;
}



	.camp-screen > .l-main-dialog-container .slot-enchant {
		-webkit-transform: scale(0.7, 0.7);
		position: absolute;
		left: 85.0rem;
		top: 36.0rem;
	}

	/* back row tents */
	.camp-screen > .l-main-dialog-container .slot-fletch {
		-webkit-transform: scale(0.5, 0.5);
		position: absolute;
		left: 13.0rem;
		top: 25.0rem;
	}
.camp-screen > .l-main-dialog-container .slot-gather {
		-webkit-transform: scale(0.7, 0.7);
		position: absolute;
		left: 33.0rem;
		top: 26.0rem;
	}

.camp-screen > .l-main-dialog-container .slot-hunt {
		-webkit-transform: scale(0.7, 0.7);
		position: absolute;
		left: 45.0rem;
		top: 23.0rem;
	}

.camp-screen > .l-main-dialog-container .slot-painter {
	-webkit-transform: scale(0.7, 0.7);
	position: absolute;
	left: -1.0rem;
	top: 36.0rem;
}



.camp-screen > .l-main-dialog-container .slot-scout
{
	-webkit-transform: scale(0.7, 0.7);
	position: absolute;
	left: 75.0rem;
	top: 25.0rem;
}




.camp-screen > .l-main-dialog-container .is-contract
{
	 max-width: 5.0rem;
	 height: auto;
	 top: 2.0rem;
}

.camp-screen > .l-main-dialog-container .is-scroll
{
	 top: 3.4rem;
	 margin-left: 0.6rem;
	 pointer-events: none;
}

.camp-screen > .l-main-dialog-container .is-difficulty
{
	 top: 1.5rem;
	 margin-left: 0.5rem;
	 pointer-events: none;
}

.camp-screen > .l-main-dialog-container .is-highlighted
{
	/*-webkit-filter: brightness(125%);*/
}

.camp-screen > .l-main-dialog-container .is-negotiated
{

}

.camp-screen > .l-main-dialog-container .is-disabled
{
   /*-webkit-filter: grayscale(100%);*/
}

.camp-screen > .l-main-dialog-container .status-effect
{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.camp-screen > .l-main-dialog-container .is-status-effect
{
	 max-width: 5.6rem;
	 height: auto;
	 top: 2.0rem;
}

.camp-screen > .l-main-dialog-container .mood
{
	position: absolute;
	pointer-events: none;
}

.camp-screen > .l-main-dialog-container .foreground
{
	position: absolute;
	pointer-events: none;
	bottom: 0;
	width: 102.4rem;
	height: 58.8rem;
}

.camp-screen > .l-main-dialog-container .content img
{
	position: absolute;
	z-index: 1;
}

.camp-screen > .l-main-dialog-container .footer .l-button-bar
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 16.0rem;
	height: 4.3rem;
	position: absolute;
	margin: auto;
}

.camp-screen > .l-main-dialog-container .footer .l-camp-button
{
	top: 0.5rem;;
	left: 18.0rem;
	bottom: 0;
	width: 17.5rem;
	position: absolute;

	line-height: 3.0rem;
}

.camp-screen > .l-main-dialog-container .footer .l-leave-button
{
	top: 0;
	right: 0;
	bottom: 0;
	width: 17.5rem;
	position: absolute;

	line-height: 3.0rem;
}


.camp-screen > .l-barber-dialog-container
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 102.4rem;
	height: 76.8rem;
	position: absolute;
	margin: auto;
	z-index: 2;
}


.camp-screen > .l-barber-dialog-container .l-tab-container
{
	top: -1.0rem;
	left: 0;
	right: 0;
	bottom: 0;
	width: 88.0rem;
	height: 3.0rem;
	position: absolute;
	margin: auto;
}

.camp-screen > .l-barber-dialog-container .l-tab-asset
{
	top: 0;
	bottom: 0;
	width: 13.0rem;
	height: 4.3rem;
	position: absolute;
}

.camp-screen > .l-barber-dialog-container .l-tab-asset.is-money
{
	left: 0;
}

.camp-screen > .l-barber-dialog-container .l-tab-asset.is-food
{
	left: 15.0rem;
}

.camp-screen > .l-barber-dialog-container .l-tab-asset.is-supplies
{
	left: 30.0rem;
}

.camp-screen > .l-barber-dialog-container .l-tab-asset.is-ammo
{
	left: 45.0rem;
}

.camp-screen > .l-barber-dialog-container .l-tab-asset.is-medicine
{
	left: 60.0rem;
}

.camp-screen > .l-barber-dialog-container .l-tab-asset.is-brothers
{
	left: 75.0rem;
	width: 9.8rem;
}

.camp-screen > .l-barber-dialog-container .l-tab-asset img
{
	top: 0;
	bottom: 0;
	left: 0;
	width: 2.8rem;
	height: 2.8rem;
	margin: auto;
	margin-left: 1.0rem;
	position: absolute;
}

.camp-screen > .l-barber-dialog-container .l-tab-asset .label
{
	top: 0;
	bottom: 0;
	left: 3.4rem;
	width: 11.2rem;
	height: 3.0rem;
	margin: auto;
	margin-left: 1.0rem;
	position: absolute;

	text-align : left;
	line-height: 3.0rem;
}


.camp-screen > .l-barber-dialog-container .content > .column
{
	width: 50%;
	height: 100%;
	padding-top: 0.9rem;
	padding-bottom: 0.9rem;
	position: relative;
	float : left;

	background-image: url("coui://gfx/ui/skin/dialog_panel_01.png");
	background-size: 50.8rem 56.8rem;
	background-repeat: no-repeat;
}

.camp-screen > .l-barber-dialog-container .content > .column.is-left
{
	padding-left: 1.0rem;
	padding-right: 1.6rem;
	padding-bottom: 3.5rem;
}

.camp-screen > .l-barber-dialog-container .content > .column.is-right
{
	padding-left: 0.5rem;
	padding-right: 1.0rem;
}

.camp-screen > .l-barber-dialog-container .content .l-list-container
{
	width: 100%;
	height: 100%;
}

/* disable font shadow */
.camp-screen > .l-barber-dialog-container .content .l-list-container .ui-control.list .list-entry.is-selected
{
	text-shadow: 1px 1px 1px #000;
}

.camp-screen > .l-barber-dialog-container .content .l-list-container .scroll-container
{
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}

.camp-screen > .l-barber-dialog-container .content .scroll-container .l-row
{
	width: 46.5rem;
	height: 10.7rem;
	position: relative;
	margin-bottom: -0.1rem;

	overflow: hidden;
}

.camp-screen > .l-barber-dialog-container .content .scroll-container .l-row:last-child
{
	margin-bottom: 0;
}

.camp-screen > .l-barber-dialog-container .content .l-row .column
{
	height: 100%;
	position: absolute;
}

.camp-screen > .l-barber-dialog-container .content .l-row .column.is-left
{
	top: 0;
	left: 0;
	width: 9.0rem;
	z-index: 2;
}

.camp-screen > .l-barber-dialog-container .content .l-row .column.is-left > img
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	margin: auto;

	display: block;
}

.camp-screen > .l-barber-dialog-container .content .l-row .column.is-right
{
	top: 0;
	left: 9.0rem;
	right: 0;
	z-index: 1;
}

.camp-screen > .l-barber-dialog-container .content .l-row .row
{
	left: 0;
	right: 1.0rem;
	position: absolute;
}

.camp-screen > .l-barber-dialog-container .content .l-row .row.is-top
{
	top: 1.0rem;
	height: 3.8rem;

	/*border-bottom: 1px rgba(130, 130, 130, 1) solid;*/
}

.camp-screen > .l-barber-dialog-container .content .l-row .row.is-top > img
{
	left: 0;
	bottom: 0.2rem;
	width: 2.6rem;
	height: 2.6rem;
	position: absolute;

	display: block;
}

.camp-screen > .l-barber-dialog-container .content .l-row .row.is-top .name
{
	left: 3.4rem;
	/*right: 6.0rem;*/
	bottom: 0.2rem;
	height: 2.6rem;
	position: absolute;
	overflow: hidden;

	line-height: 3.0rem;
}

.camp-screen > .l-barber-dialog-container .content .l-row .row.is-top .l-level-container
{
	right: 0;
	width: 6.0rem;
	height: 100%;
	position: absolute;
}

.camp-screen > .l-barber-dialog-container .content .l-row .row.is-top .l-level-container img
{
	left: 0;
	bottom: 0.1rem;
	width: 2.6rem;
	height: 2.6rem;
	position: absolute;

	display: block;
}

.camp-screen > .l-barber-dialog-container .content .l-row .row.is-top .l-level-container > .level
{
	left: 3.0rem;
	right: 0;
	bottom: 0.2rem;
	height: 2.6rem;
	position: absolute;

	line-height: 3.0rem;
}

.camp-screen > .l-barber-dialog-container .content .l-row .row.is-bottom
{
	top: 3.8rem;
	bottom: 0;
}

.camp-screen > .l-barber-dialog-container .content .l-row .row.is-bottom .l-assets-center-container
{
	top: 0;
	left: 3.0rem;
	right: 0;
	bottom: 0;
	width: 21.0rem;
	height: 3.0rem;
	position: absolute;
	margin: auto;
}

.camp-screen > .l-barber-dialog-container .content .l-row .row.is-bottom .l-assets-container
{
	width: 10.0rem;
	height: 3.0rem;
	position: relative;
	float: left;
	margin-right: 1.0rem;
}

.camp-screen > .l-barber-dialog-container .content .l-row .row.is-bottom .l-assets-container:last-child
{
	margin-right: 0;
}

.camp-screen > .l-barber-dialog-container .content .l-row .row.is-bottom .l-assets-container img
{
	top: 0;
	bottom: 0;
	left: 0;
	width: 2.8rem;
	height: 2.8rem;
	margin: auto;
	position: absolute;
}

.camp-screen > .l-barber-dialog-container .content .l-row .row.is-bottom .l-assets-container .label
{
	top: 0;
	bottom: 0;
	left: 3.4rem;
	width: 6.0rem;
	height: 3.0rem;
	margin: auto;
	position: absolute;

	text-align : left;
	line-height: 3.4rem;
}


.camp-screen > .l-barber-dialog-container .content .l-details-frame
{
	width: 100%;
	height: 100%;

	overflow: hidden;
	-webkit-mask-image: #fff; /* Bugfix for Chrome, as the absolute position breaks the overflow somehow..*/
}

.camp-screen > .l-barber-dialog-container .content .details-container
{
	width: 100%;
	height: 100%;
	position: relative;
}

.camp-screen > .l-barber-dialog-container .content .details-container .column
{
	top: 0;
	height: 100%;
	position: absolute;
}

.camp-screen > .l-barber-dialog-container .content .details-container > .row
{
	left: 0;
	right: 0;
	position: absolute;
}

.camp-screen > .l-barber-dialog-container .content .details-container > .row.is-character-container
{
	top: 0;
	left: 0;
	height: 39.0rem;
}

.camp-screen > .l-barber-dialog-container .content .details-container .column.is-character-portrait-container
{
	top: 20.0rem;
	left: 17.0rem;
	width: 13.0rem;
	height: 16.0rem;
}

.camp-screen > .l-barber-dialog-container .content .details-container .column.is-character-portrait-container > img
{
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;

	display: block;
}

.camp-screen > .l-barber-dialog-container .content .details-container .appearance-control
{
	width: 22.8rem;
	height: 4.1rem;
}

.camp-screen > .l-barber-dialog-container .content .details-container .color-control
{
	position: absolute;
	top: 11.0rem;
	left: 2.9rem;
}

.camp-screen > .l-barber-dialog-container .content .details-container .hair-control
{
	position: absolute;
	top: 11.0rem;
	left: 25.2rem;
}

.camp-screen > .l-barber-dialog-container .content .details-container .beard-control
{
	position: absolute;
	top: 17.0rem;
	left: 25.2rem;
}

.camp-screen > .l-barber-dialog-container .content .details-container .head-control
{
	position: absolute;
	top: 17.0rem;
	left: 2.9rem;
}

.camp-screen > .l-barber-dialog-container .content .details-container .body-control
{
	position: absolute;
	top: 36.0rem;
	left: 2.9rem;
}

.camp-screen > .l-barber-dialog-container .content .details-container .tattoo-control
{
	position: absolute;
	top: 36.0rem;
	left: 25.2rem;
}

.camp-screen > .l-barber-dialog-container .content .details-container .appearance-control .text
{
	margin-top: 0.2rem;
	margin-left: -0.5rem;
	margin-right: -0.4rem;

	width: 14.2rem;
	height: 3.2rem;
	position: relative;
	float: left;
	/*margin-left: 0.2rem;*/

	line-height: 3.0rem;
	text-align: center;

	background-image: url("coui://gfx/ui/skin/barber_textbox.png");
	background-size: 14.2rem 3.2rem;
	background-repeat: no-repeat;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	color: rgba(0, 0, 0, 0);
}

.camp-screen > .l-barber-dialog-container .content .details-container .appearance-control .l-button
{
	width: 4.5rem;
	height: 4.1rem;
	position: relative;
	float: left;
}

.camp-screen > .l-barber-dialog-container .content .details-container .column.is-character-background-container
{
	top: 0;
	left: 0.0rem;
	right: 0;
}

.camp-screen > .l-barber-dialog-container .content .details-container .column.is-character-background-container > img
{
	top: 1.0rem;
	left: 0;
	width: 4.0rem;
	height: 4.0rem;
	position: absolute;

	display: block;
}

.camp-screen > .l-barber-dialog-container .content .details-container .column.is-character-background-container .row
{
	left: 1.0rem;
	right: 1.0rem;
	position: absolute;
}

.camp-screen > .l-barber-dialog-container .content .details-container .column.is-character-background-container .row.is-top
{
	top: 0;
	height: 4.4rem;

	/*border-bottom: 1px rgba(130, 130, 130, 1) solid;*/
}

.camp-screen > .l-barber-dialog-container .content .details-container .column.is-character-background-container .row.is-top .border
{
	top: 0;
	left: 0.8rem;
	right: 1.5rem;
	height: 4.4rem;

	border-image: url("coui://gfx/ui/skin/line_metal.png") 0% 0% 100% 0%;
	border-image-outset: 0 0 -0.5rem 0;
}

.camp-screen > .l-barber-dialog-container .content .details-container .column.is-character-background-container .row.is-top > img
{
	left: 0;
	bottom: 0.2rem;
	width: 2.6rem;
	height: 2.6rem;
	position: absolute;

	display: block;
}

.camp-screen > .l-barber-dialog-container .content .details-container .column.is-character-background-container .row.is-top .name
{
	left: 1.0rem;
	right: 1.0rem;
	bottom: 0.2rem;
	height: 2.6rem;
	position: absolute;
	overflow: hidden;

	line-height: 3.0rem;
}

.camp-screen > .l-barber-dialog-container .content .details-container .column.is-character-background-container .row.is-bottom
{
	top: 5.5rem;
	left: 1.0rem;
	height: 34.0rem;

	text-align: left;
	line-height: 2.6rem;
}


.camp-screen > .l-barber-dialog-container .content .details-container .row.is-costs-container
{
	top: 39.0rem;
	height: 12.0rem;
}

.camp-screen > .l-barber-dialog-container .content .details-container .row.is-costs-container > .row
{
	left: 1.0rem;
	right: 1.0rem;
	position: absolute;
}

.camp-screen > .l-barber-dialog-container .content .details-container .row.is-costs-container > .row.is-header
{
	top: 0;
	height: 4.0rem;

	/*border-bottom: 1px rgba(130, 130, 130, 1) solid;*/
}

.camp-screen > .l-barber-dialog-container .content .details-container .row.is-costs-container > .row.is-header .label
{
	top: 1.0rem;
	left: 1.0rem;
	height: 3.0rem;
	position: absolute;

	text-align: left;
	line-height: 3.0rem;
}

.camp-screen > .l-barber-dialog-container .content .details-container .row.is-costs-container > .row.is-initial-costs
{
	top: 4.0rem;
	left: 3.0rem;
	height: 4.0rem;
}

.camp-screen > .l-barber-dialog-container .content .details-container .row.is-costs-container > .row.is-daily-costs
{
	top: 8.0rem;
	left: 3.0rem;
	height: 4.0rem;
}

.camp-screen > .l-barber-dialog-container .content .details-container .row.is-costs-container > .row .costs-label
{
	top: 0;
	left: 0;
	bottom: 0;
	width: 10.0rem;
	height: 3.0rem;
	position: absolute;
	margin: auto;

	text-align: left;
	line-height: 3.2rem;
}

.camp-screen > .l-barber-dialog-container .content .details-container .row.is-costs-container > .row .l-costs-container
{
	top: 0;
	left: 10.9rem;
	bottom: 0;
	width: 16.0rem;
	height: 3.0rem;
	position: absolute;
	margin: auto;
}

.camp-screen > .l-barber-dialog-container .content .details-container .row.is-costs-container > .row .l-costs-container.is-second
{
	left: 27.0rem;
}

.camp-screen > .l-barber-dialog-container .content .details-container .row.is-costs-container > .row .l-costs-container img
{
	top: 0;
	bottom: 0;
	left: 0;
	width: 2.8rem;
	height: 2.8rem;
	margin: auto;
	position: absolute;
}

.camp-screen > .l-barber-dialog-container .content .details-container .row.is-costs-container > .row .l-costs-container .label
{
	top: 0;
	bottom: 0;
	left: 3.4rem;
	width: 6.0rem;
	height: 3.0rem;
	margin: auto;
	position: absolute;

	text-align : left;
	line-height: 3.4rem;
}


.camp-screen > .l-barber-dialog-container .content .details-container .row.is-button-container
{
	top: 48.0rem;
	left: 1.0rem;
	right: 1.0rem;
	height: 6.0rem;

   /*border-top: 1px rgba(130, 130, 130, 1) solid;*/
}

.camp-screen > .l-barber-dialog-container .content .details-container .row.is-button-container .l-barber-button
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 17.5rem;
	height: 4.3rem;
	position: absolute;
	margin: auto;

	line-height: 3.0rem;
}


.camp-screen > .l-barber-dialog-container .footer .l-button-bar
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 16.0rem;
	height: 4.3rem;
	position: absolute;
	margin: auto;
}

.camp-screen > .l-barber-dialog-container .footer .l-leave-button
{
	top: 0;
	right: 0;
	bottom: 0;
	width: 17.5rem;
	position: absolute;

	line-height: 3.0rem;
}